
@font-face {
    font-family: "Fira Code";
    src: url("/fonts/FiraCode-VariableFont_wght.ttf") format("truetype");
}

:root {
    --tokyonight-bg: #1a1b26;
    --tokyonight-fg: #c0caf5;
    --tokyonight-blue: #7aa2f7;
    --tokyonight-green: #9ece6a;
    --tokyonight-red: #f7768e;
    --tokyonight-yellow: #e0af68;
    --tokyonight-comment: #565f89;
    --cyan: #565f89;
    --bg: #1a1b26; /* colors[0] */
    --fg: #a9b1d6; /* colors[1] */
    --blk: #32344a; /* colors[2] */
    --red: #f7768e; /* colors[3] */
    --grn: #9ece6a; /* colors[4] */
    --ylw: #e0af68; /* colors[5] */
    --blu: #7aa2f7; /* colors[6] */
    --mag: #ad8ee6; /* colors[7] */
    --cyn: #0db9d7; /* colors[8] */
    --brblk: #444b6a; /* colors[9] */
}

pre {
    border: 1px solid var(--tokyonight-blue);
    background-color: #232635;
    padding: 1em;
    overflow-x: scroll;
    max-width: 100%;
    box-sizing: border-box;
}

code {
    color: var(--mag);
    word-break: break-word;
    white-space: pre-wrap;
}

pre,
code {
    /* font-size: 0.75em; */
    font-family: Menlo, Monaco, "Courier New", monospace;
}
/* This is a theme distributed by `starry-night`.
 * It’s based on what GitHub uses on their site.
 * See <https://github.com/wooorm/starry-night> for more info. */
:root {
    --color-prettylights-syntax-brackethighlighter-angle: #9198a1;
    --color-prettylights-syntax-brackethighlighter-unmatched: #f85149;
    --color-prettylights-syntax-carriage-return-bg: #b62324;
    --color-prettylights-syntax-carriage-return-text: #f0f6fc;
    --color-prettylights-syntax-comment: #9198a1;
    --color-prettylights-syntax-constant: #79c0ff;
    --color-prettylights-syntax-constant-other-reference-link: #a5d6ff;
    --color-prettylights-syntax-entity: #d2a8ff;
    --color-prettylights-syntax-entity-tag: #7ee787;
    --color-prettylights-syntax-invalid-illegal-bg: #8e1519;
    --color-prettylights-syntax-invalid-illegal-text: #f0f6fc;
    --color-prettylights-syntax-keyword: #ff7b72;
    --color-prettylights-syntax-markup-bold: #f0f6fc;
    --color-prettylights-syntax-markup-changed-bg: #5a1e02;
    --color-prettylights-syntax-markup-changed-text: #ffdfb6;
    --color-prettylights-syntax-markup-deleted-bg: #67060c;
    --color-prettylights-syntax-markup-deleted-text: #ffdcd7;
    --color-prettylights-syntax-markup-heading: #1f6feb;
    --color-prettylights-syntax-markup-ignored-bg: #1158c7;
    --color-prettylights-syntax-markup-ignored-text: #f0f6fc;
    --color-prettylights-syntax-markup-inserted-bg: #033a16;
    --color-prettylights-syntax-markup-inserted-text: #aff5b4;
    --color-prettylights-syntax-markup-italic: #f0f6fc;
    --color-prettylights-syntax-markup-list: #f2cc60;
    --color-prettylights-syntax-meta-diff-range: #d2a8ff;
    --color-prettylights-syntax-storage-modifier-import: #f0f6fc;
    --color-prettylights-syntax-string: #a5d6ff;
    --color-prettylights-syntax-string-regexp: #7ee787;
    --color-prettylights-syntax-sublimelinter-gutter-mark: #3d444d;
    --color-prettylights-syntax-variable: #ffa657;
}

.pl-c {
    color: var(--color-prettylights-syntax-comment);
}

.pl-c1,
.pl-s .pl-v {
    color: var(--color-prettylights-syntax-constant);
}

.pl-e,
.pl-en {
    color: var(--color-prettylights-syntax-entity);
}

.pl-smi,
.pl-s .pl-s1 {
    color: var(--color-prettylights-syntax-storage-modifier-import);
}

.pl-ent {
    color: var(--color-prettylights-syntax-entity-tag);
}

.pl-k {
    color: var(--color-prettylights-syntax-keyword);
}

.pl-s,
.pl-pds,
.pl-s .pl-pse .pl-s1,
.pl-sr,
.pl-sr .pl-cce,
.pl-sr .pl-sre,
.pl-sr .pl-sra {
    color: var(--color-prettylights-syntax-string);
}

.pl-v,
.pl-smw {
    color: var(--color-prettylights-syntax-variable);
}

.pl-bu {
    color: var(--color-prettylights-syntax-brackethighlighter-unmatched);
}

.pl-ii {
    color: var(--color-prettylights-syntax-invalid-illegal-text);
    background-color: var(--color-prettylights-syntax-invalid-illegal-bg);
}

.pl-c2 {
    color: var(--color-prettylights-syntax-carriage-return-text);
    background-color: var(--color-prettylights-syntax-carriage-return-bg);
}

.pl-sr .pl-cce {
    font-weight: bold;
    color: var(--color-prettylights-syntax-string-regexp);
}

.pl-ml {
    color: var(--color-prettylights-syntax-markup-list);
}

.pl-mh,
.pl-mh .pl-en,
.pl-ms {
    font-weight: bold;
    color: var(--color-prettylights-syntax-markup-heading);
}

.pl-mi {
    font-style: italic;
    color: var(--color-prettylights-syntax-markup-italic);
}

.pl-mb {
    font-weight: bold;
    color: var(--color-prettylights-syntax-markup-bold);
}

.pl-md {
    color: var(--color-prettylights-syntax-markup-deleted-text);
    background-color: var(--color-prettylights-syntax-markup-deleted-bg);
}

.pl-mi1 {
    color: var(--color-prettylights-syntax-markup-inserted-text);
    background-color: var(--color-prettylights-syntax-markup-inserted-bg);
}

.pl-mc {
    color: var(--color-prettylights-syntax-markup-changed-text);
    background-color: var(--color-prettylights-syntax-markup-changed-bg);
}

.pl-mi2 {
    color: var(--color-prettylights-syntax-markup-ignored-text);
    background-color: var(--color-prettylights-syntax-markup-ignored-bg);
}

.pl-mdr {
    font-weight: bold;
    color: var(--color-prettylights-syntax-meta-diff-range);
}

.pl-ba {
    color: var(--color-prettylights-syntax-brackethighlighter-angle);
}

.pl-sg {
    color: var(--color-prettylights-syntax-sublimelinter-gutter-mark);
}

.pl-corl {
    text-decoration: underline;
    color: var(--color-prettylights-syntax-constant-other-reference-link);
}
