html {
    font-family: 'Clear Sans', sans-serif;
    line-height: 1.5;
    font-weight: 400;
    font-style: normal;

    /* color-scheme: light dark; */
    /* color: rgba(255, 255, 255, 0.87); */
    /* background-color: #242424; */

    background-color: azure;
    color: #002B36;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


table {
    border: 1px solid;
    border-collapse: collapse;
    width: 100%;
    border-radius: 0.5rem;
}

th,
td {
    border: none;
    padding: 8px;
    text-align: left;
}

th {
    color: aliceblue;
    background-color: #273e68;
}

table tr:nth-child(even) {
    background-color: #dce4fb;
}

table tr:nth-child(odd) {
    background-color: #c4cde2;
}

strong {
    color: #5a8ce9;
}