:root {
    --tokyonight-bg: #e6e7ed;
    --tokyonight-fg: #343B58;
    --tokyonight-blue: #2959aa;
    --tokyonight-green: #33635c;
    --tokyonight-red: #8c4351;
    --tokyonight-yellow: #8f5e15;
    --tokyonight-comment: #6c6e75;
    --cyan: #0f4b6e;
    --bg: #e6e7ed; /* colors[0] */
    --fg: #a9b1d6; /* colors[1] */
    --blk: #343B58; /* colors[2] */
    --red: #8c4351; /* colors[3] */
    --grn: #33635c; /* colors[4] */
    --ylw: #8f5e15; /* colors[5] */
    --blu: #2959aa; /* colors[6] */
    --mag: #5a3e8e; /* colors[7] */
    --cyn: #0f4b6e; /* colors[8] */
    --brblk: #444b6a; /* colors[9] */
}

html {
  font-family: "Clear Sans", sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  /* color-scheme: light dark; */
  /* color: rgba(255, 255, 255, 0.87); */
  /* background-color: #242424; */


  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--tokyonight-blue);
  font-weight: 600;
  line-height: 1.3;
  margin-top: 1.3rem;
  margin-bottom: 0.5rem;
}

h1 {
  color: var(--tokyonight-blue);
  font-size: 1.3rem;
  font-family: 'Jost', sans-serif;
}

h2 {
  color: var(--cyn);
  line-height: 1.2;
  font-family: 'Jost', sans-serif;
}

h3 {
  color: var(--tokyonight-blue);
  line-height: 1.1;
}

h4 {
  line-height: 1.0;
  color: #c3e88d;
}

a {
  color: var(--tokyonight-blue);
}

table {
  border: 1px solid;
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  border: none;
  padding: 8px;
  text-align: left;
}

th {
  color: aliceblue;
  background-color: var(--blk);
}

table tr:nth-child(even) {
  background-color: #dce4fb;
}

table tr:nth-child(odd) {
  background-color: #c4cde2;
}

strong {
  color: var(--cyn);
  font-weight: 700;
}

section {
  position: relative;
  padding: 1em 2rem 2rem;
  background: var(--tokyonight-bg);
  margin-bottom: 3rem;
  z-index: 1;
  border: 4px solid rgb(207, 221, 221);
}

body {
  background-color: var(--tokyonight-bg);
  background: url("/bg/64.jpg") center/cover no-repeat fixed;
}

main {
  padding: 1rem;
}

img.fill {
  width: 100%;
  max-width: 680px;
}

header {
  padding: 1rem;
}

.icon {
  border: 0;
  vertical-align: middle;
  width: 20px;
}

.float {
  float: right;
  clear: right;
  margin: 1em 0 1em 1em;
  position: relative;
  z-index: 1;
}

.float-l {
  float: left;
  clear: left;
  margin: 0em 1em 0em 0em;
  position: relative;
  z-index: 1;
}
