html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul,
dl,
dd,
dt,
li,
pre,
code,
kbd,
form,
fieldset,
blockquote,
a,
table,
tr,
td,
th,
thead,
tbody,
tfoot,
em,
strong,
textarea,
main,
nav,
section,
footer,
button,
input,
select {
  padding: 0;
  margin: 0;
  border: 0;
  text-decoration: none;
  font-size: inherit;
  font-weight: inherit;
  font-style: inherit;
  text-indent: 0
}

* {
  box-sizing: border-box
}

main,
section,
header,
footer,
nav,
article {
  display: block
}

@keyframes fadeIn {
  0% {
    opacity: 0
  }

  100% {
    opacity: 1
  }
}

img {
  width: auto;
  height: auto
}

a,
button {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0)
}

html {
  -webkit-text-size-adjust: 100%
}

textarea {
  width: 100%;
  box-sizing: border-box;
  line-height: inherit;
  resize: none;
  outline: none;
  overflow: auto;
  display: block
}

html {
  scroll-behavior: smooth
}

html {
  font-size: 16px
}

@media screen and (min-width:1024px) {
  html {
    font-size: calc(16px - 4.6px + 0.45vw)
  }
}

@media screen and (min-width:1920px) {
  html {
    font-size: calc(20px)
  }
}

@media print {
  @page {
    margin: 1.5cm
  }

  .sticky,
  .bubble,
  .c .co1 {
    background: white !important
  }

  * {
    background: transparent !important;
    color: black !important;
    box-shadow: none !important;
    text-shadow: none !important
  }

  nav {
    display: none
  }
}

@media screen {
  span.csakkepernyon {
    display: inline
  }

  span.csaknyomtatasban {
    display: none
  }
}

@media print {
  span.csakkepernyon {
    display: none
  }

  span.csaknyomtatasban {
    display: inline
  }
}

@media screen {
  div.csakkepernyon {
    display: block
  }

  div.csaknyomtatasban {
    display: none
  }
}

@media print {
  div.csakkepernyon {
    display: none
  }

  div.csaknyomtatasban {
    display: block
  }
}

.syntaxhighlighter .plain {
  color: inherit
}

.syntaxhighlighter .preprocessor {
  color: #939
}

.syntaxhighlighter .singlecomment,
.syntaxhighlighter .comment {
  color: #555
}

.syntaxhighlighter .string,
.syntaxhighlighter .number {
  color: #060
}

.syntaxhighlighter .color1,
.syntaxhighlighter .keyword {
  color: #339
}

.syntaxhighlighter .color2,
.syntaxhighlighter .function {
  color: #175
}

.syntaxhighlighter .arrows {
  color: #f00;
  -webkit-text-stroke: 1px
}

@font-face {
  font-family: 'LexieReadable';
  src: url("/modulz/style/LexieReadable-Regular.ttf?v=4.0.3");
  src: url("/modulz/style/LexieReadable-Regular.ttf?v=4.0.3") format("truetype");
  font-weight: normal;
  font-style: normal
}

@font-face {
  font-family: 'LexieReadable';
  src: url("/modulz/style/LexieReadable-Bold.ttf?v=4.0.3");
  src: url("/modulz/style/LexieReadable-Bold.ttf?v=4.0.3") format("truetype");
  font-weight: bold;
  font-style: normal
}

@font-face {
  font-family: 'FontAwesome';
  src: url('/modulz/style/fontawesome-webfont.woff2?v=4.7.0') format('woff2'),
    url('/modulz/style/fontawesome-webfont.woff?v=4.7.0') format('woff'),
    url('/modulz/style/fontawesome-webfont.ttf?v=4.7.0') format('truetype'),
    url('/modulz/style/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal
}

button:before,
a:before,
a:after,
option:before,
i:before {
  display: inline-block;
  font-family: 'FontAwesome';
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  width: 1em;
  height: 1em;
  line-height: 1;
  text-align: center
}

button:before,
a:before,
option:before {
  margin-right: 0.3em
}

body {
  font-family: 'open sans', 'droid sans', 'dejavu sans', sans-serif;
  font-weight: normal;
  font-style: normal;
  line-height: 1.4;
  background-color: #e6e8ea;
  background-image: none;
  color: #181818
}

@media print {
  body {
    font-family: serif;
    font-size: 12px
  }
}

.shaper {
  margin: 0 .5em
}

@media screen and (min-width:52.5em) {
  .shaper {
    max-width: 52em;
    margin: 0 auto
  }

  body.szeles .shaper {
    max-width: 80em;
    margin: 0 auto
  }
}

@media print {
  .shaper {
    margin: 0
  }
}

.menubg {
  position: relative;
  z-index: 1000;
  width: 100%;
  background: #366994;
  background-image: linear-gradient(to bottom, #3776ab, #366994);
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2) inset, 0px 0px 8px rgba(0, 0, 0, 0.25);
  color: #fff;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4)
}

.menu-dropdown .menubg {
  position: fixed
}

.menuplaceholder {
  display: none;
  visibility: hidden
}

.menu-dropdown .menuplaceholder {
  display: block
}

.menuplaceholder:after {
  content: " ";
  white-space: pre-wrap;
  display: block
}

.menu-dropdown .menuplaceholder {
  font-size: 2.5em;
  line-height: 1.15
}

.menu-accordion .menuplaceholder {
  font-size: 1.5em;
  line-height: 1.6
}

.menu-dropdown .menu-font-size {
  font-size: 0.9em
}

.menu ul,
.menu li {
  margin: 0;
  padding: 0
}

.menu ul {
  list-style-type: none
}

.menu .menu-brand {
  margin-right: 0.5em;
  font-size: 2.5em;
  line-height: 1.15;
  letter-spacing: -0.1ex;
  font-family: inherit;
  font-weight: bold
}

.menu .menu-brand a {
  text-transform: uppercase;
  color: #ffde57
}

.menu li a {
  display: block
}

.menu ul ul {
  display: none
}

.menu li.menu-open ul {
  display: block
}

.menu li.menu-open ul ul {
  display: none
}

.menu li.menu-open li.menu-open ul {
  display: block
}

.menu-dropdown .menu .menu-brand {
  float: left
}

.menu-dropdown .menu .menu-nyito {
  display: none
}

.menu-dropdown .menu li {
  float: left;
  position: relative
}

.menu-dropdown .menu li.jobbszel {
  float: right
}

.menu-dropdown .menu li li {
  float: none
}

.menu-dropdown .menu li ul {
  position: absolute;
  top: 100%;
  left: 0;
  margin-top: 0.25em;
  padding: .5em 0em;
  z-index: 1001;
  background: #366994;
  background-image: linear-gradient(to bottom, #3776ab, #366994);
  color: #fff;
  border-radius: 2px;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2) inset, 1px 1px 6px rgba(0, 0, 0, 0.8)
}

.menu-dropdown .menu li.jobbszel ul {
  right: 0;
  left: auto
}

.menu-dropdown .menu li li ul {
  top: 0;
  left: 100%;
  margin-top: -0.25em;
  margin-left: 0.25em
}

.menu-dropdown .menu li a {
  padding: 0 .75em;
  line-height: 2.875
}

.menu-dropdown .menu li li a {
  padding: 0 1.75em 0 .75em;
  line-height: 1.8
}

.menu-accordion .menu .menu-nyito {
  float: right;
  width: 1.4em;
  text-align: center
}

.menu-accordion .menu .menu-nyito:hover {
  background: #29587f;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1) inset
}

.menu-accordion .menu .menu-brand,
.menu-accordion .menu .menu-nyito {
  font-size: 1.5em;
  line-height: 1.6
}

.menu-accordion .menu li a {
  padding: .75em .5em
}

.menu-accordion .menu li li {
  margin-left: 1.5em
}

.menu a {
  color: inherit
}

.menu a:hover {
  text-decoration: none
}

.menu a:focus {
  color: #ffde57;
  outline: none
}

.menu li.menu-open>a {
  color: #ffde57
}

.menu li a:hover {
  background: #29587f;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1) inset
}

.menu li.almenu>a:after {
  content: '‣';
  margin-left: 0.25ex
}

.menu-dropdown .menu li li.almenu>a:after {
  position: absolute;
  top: 0.4em;
  right: 0.5em
}

.menu-dropdown .menu {
  transition: margin .3s
}

.menu-dropdown .menu.menu-dropdown-hidden {
  margin-top: -2.875em
}

.menu-dropdown .menu .menu-elemek>ul>li>a {
  text-transform: uppercase
}

.menu-dropdown .menu li {
  white-space: nowrap
}

.menu-accordion .menu .menu-elemek {
  display: none
}

.menu-accordion .menu .menu-elemek.menu-elemek-lathatoak {
  display: block
}

.menu-dropdown .menu ul ul:after {
  content: '';
  display: block;
  width: 0;
  height: 0;
  border-left: 8px solid rgba(54, 105, 148, 0);
  border-right: 8px solid rgba(54, 105, 148, 0);
  border-bottom: 12px solid #366994;
  position: absolute;
  top: -12px;
  left: 0.6em;
  margin-top: 1px
}

.menu-dropdown .menu ul ul:before {
  content: '';
  display: block;
  width: 0;
  height: 0;
  border-left: 8px solid rgba(54, 105, 148, 0);
  border-right: 8px solid rgba(54, 105, 148, 0);
  border-bottom: 12px solid rgba(0, 0, 0, 0.25);
  position: absolute;
  top: -13px;
  left: 0.6em;
  margin-top: 1px
}

.menu-dropdown .menu ul li.jobbszel ul:after {
  left: auto;
  right: 0.6em
}

.menu-dropdown .menu ul li.jobbszel ul:before {
  left: auto;
  right: 0.6em
}

.menu-dropdown .menu ul ul ul:after {
  content: '';
  display: block;
  width: 0;
  height: 0;
  border-top: 8px solid rgba(54, 105, 148, 0);
  border-bottom: 8px solid rgba(54, 105, 148, 0);
  border-right: 12px solid #366994;
  position: absolute;
  top: 0.6em;
  left: -19px;
  margin-top: 0;
  margin-left: 1px
}

.menu-dropdown .menu ul ul ul:before {
  content: '';
  display: block;
  width: 0;
  height: 0;
  border-top: 8px solid rgba(54, 105, 148, 0);
  border-bottom: 8px solid rgba(54, 105, 148, 0);
  border-right: 12px solid rgba(0, 0, 0, 0.35);
  position: absolute;
  top: 0.6em;
  left: -20px;
  margin-top: 0;
  margin-left: 1px
}

.footer {
  font-size: 0.9em;
  color: #666;
  padding-bottom: 1em
}

.footer a {
  color: inherit;
  font-weight: bold;
  transition: color .25s
}

.footerlogo {
  float: left;
  height: 4.2em;
  margin-right: 1em
}

@media print {
  .footerlogo {
    height: 4.2em
  }
}

.bodycontent {
  min-height: 100vh;
  display: flex;
  flex-direction: column
}

@media print {
  .bodycontent {
    display: block
  }
}

.doksi {
  flex: 1;
  margin-bottom: auto
}

a#scrolltotop {
  position: fixed;
  z-index: 1000;
  margin: 0;
  padding: 0;
  bottom: 0.25em;
  right: 0.25em;
  font-size: 2.5em;
  width: 1em;
  height: 1em;
  line-height: 1em;
  opacity: 0.25;
  transition: opacity .225s;
  text-shadow: 0 3px 8px rgba(0, 0, 0, 0.25)
}

a#scrolltotop:hover {
  opacity: 0.75
}

a#scrolltotop:before {
  content: '\f139';
  background: none;
  color: #222;
  border: none;
  margin: 0;
  padding: 0
}

@media print {
  #tartalom {
    display: none
  }
}

#tartalom .fontos {
  color: #366994
}

.slide {
  background: #fff;
  color: #222;
  border: 1px solid #d8dbde;
  box-shadow: none;
  padding: 1em;
  margin: 2em 0;
  position: relative;
  border-radius: 0;
  clear: both;
  overflow: visible
}

@media screen and (min-width:900px) {
  .slide {
    padding: 2em
  }
}

@media print {
  .slide {
    padding: 0;
    border: none
  }
}

.namer {
  display: block;
  border: 0 !important;
  margin-top: -1px;
  height: 1px
}

button,
input,
select,
option,
optgroup,
optgroup {
  font-family: 'open sans', 'droid sans', 'dejavu sans', sans-serif;
  line-height: normal
}

button {
  border: 1px solid #aaa;
  padding: .2em .25em;
  border-radius: 2px;
  font-family: 'open sans', 'droid sans', 'dejavu sans', sans-serif;
  font-weight: normal;
  font-style: normal;
  background-color: #e8e8e8;
  color: #111;
  box-shadow: 1px 1px 0 #fff inset
}

button:active,
button.toggled {
  background-color: #d8d8d8;
  box-shadow: -1px -1px 0 #fff inset;
  outline: none !important
}

button:focus {
  border-color: #366994;
  outline: none !important
}

button::-moz-focus-inner,
input[type='button']::-moz-focus-inner {
  border: none;
  padding: 0
}

button+button {
  margin-left: 0.25em
}

input {
  padding: 1px
}

input,
select,
form textarea {
  border: 1px solid #ccc;
  border-radius: 0;
  background: #fcfcfc;
  color: #333
}

input:focus,
select:focus,
textarea:focus,
option,
optgroup {
  background-color: #fdfdfd
}

optgroup {
  font-style: normal;
  font-weight: normal;
  color: #366994
}

input:focus,
select:focus,
form textarea:focus {
  border-color: #366994;
  outline: none
}

input[type=checkbox],
input[type=radio] {
  display: inline;
  width: auto;
  padding: 0;
  box-sizing: border-box;
  vertical-align: -2px
}

input[type=checkbox]:focus,
input[type=radio]:focus,
input[type=checkbox]:active,
input[type=radio]:active {
  outline: 1px solid #366994
}

button,
select,
input[type=button],
input[type=checkbox],
input[type=radio] {
  cursor: pointer
}

h1 {
  margin-bottom: 1em
}

p,
blockquote,
pre,
textarea,
embed,
dl,
ol,
ul,
table,
h3,
h4,
details,
iframe,
.columns {
  margin: .7em auto
}

.csik {
  margin: 1.4em auto
}

li {
  margin: .35em auto
}

dd+dt {
  margin-top: 0.7em
}

dd {
  margin-top: 0.35em
}

pre {
  line-height: 1.2
}

button.float+h3 {
  margin-top: 0
}

body {
  word-spacing: 0.125em
}

pre,
code {
  word-spacing: 0
}

li>ul,
li>ol {
  margin: 0em auto
}

br.smallskip {
  display: none
}

.clear {
  clear: both
}

.kozep {
  text-align: center;
  margin-left: auto;
  margin-right: auto
}

h1,
h2,
h3,
h4 {
  font-weight: bold
}

h1 {
  font-size: 162%
}

h2 {
  font-size: 127%
}

h3 {
  font-size: 110%
}

.focim {
  color: #6f6f6f;
  margin: 1.4em 0;
  padding-bottom: 0.35em;
  border-bottom: 1px dotted #dedede
}

.focim p {
  font-size: 0.9em;
  margin: 0
}

i.szerzo:before {
  content: '\f040'
}

i.ido:before {
  content: '\f017'
}

i.hamburger:before {
  content: '\f0c9'
}

ul,
ol {
  padding-left: 2em
}

ul {
  list-style: square
}

dt {
  padding-left: 0em;
  font-weight: bold
}

dd {
  padding-left: 2em
}

ol.betu {
  list-style: lower-alpha
}

div.columns>div {
  margin: .7em auto
}

@media (min-width:800px) {
  div.columns {
    display: flex;
    flex-direction: row;
    margin: .7em 0
  }

  div.columns>div>:first-child {
    margin-top: 0
  }

  div.columns>div>:last-child {
    margin-bottom: 0
  }

  div.columns>div {
    flex: 1 1 0;
    margin: 0 .7em
  }

  div.columns>div:first-child {
    margin-left: 0
  }

  div.columns>div:last-child {
    margin-right: 0
  }

  div.columns.c3070>:first-child {
    flex-grow: 3
  }

  div.columns.c3070>:last-child {
    flex-grow: 7
  }

  div.columns.c4060>:first-child {
    flex-grow: 4
  }

  div.columns.c4060>:last-child {
    flex-grow: 6
  }

  div.columns.c6040>:first-child {
    flex-grow: 6
  }

  div.columns.c6040>:last-child {
    flex-grow: 4
  }

  div.columns.c7030>:first-child {
    flex-grow: 7
  }

  div.columns.c7030>:last-child {
    flex-grow: 3
  }

  div.columns.columns-wrap {
    flex-wrap: wrap
  }

  div.columns.columns-wrap>div {
    flex-basis: 45%;
    margin: .35em
  }
}

pre,
code,
kbd,
textarea,
table.tomb,
.mono {
  font-family: 'consolas', 'roboto mono', 'dejavu sans mono', 'lucida console', monospace !important;
  font-size: .9375em
}

.handfont {
  font-family: 'mclaren', 'comic sans', cursive !important
}

code {
  font-weight: bold
}

kbd {
  border: 1px solid #888;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 0.2em;
  padding: 0px .2em;
  background: #fdfdfd;
  background: rgba(0, 0, 0, 0.075)
}

code,
kbd {
  white-space: nowrap
}

pre code {
  font-weight: inherit;
  font-size: inherit;
  white-space: inherit
}

a {
  color: #366994;
  cursor: pointer
}

a:hover {
  text-decoration: underline
}

a[href$='.zip']:before {
  content: '\f187'
}

a[href$='.c']:before,
a[href$='.h']:before,
a[href$='.pdf']:before,
a[href$='.cpp']:before {
  content: '\f0f6'
}

a[href$='?rss']:before {
  content: '\f09e'
}

a[href^='http://']:after,
a[href^='https://']:after {
  content: '\f08e';
  margin-left: 0.3em
}

a[href^='https://web.microsoftstream.com/']:after {
  content: '\f03d';
  margin-left: 0.3em
}

a[href^='http://www.facebook']:after,
a[href^='https://www.facebook']:after {
  display: none
}

a[href^='http://www.facebook']:before,
a[href^='https://www.facebook']:before {
  content: '\f082';
  margin-right: 0.3em
}

.syntaxhighlighter a:after,
.syntaxhighlighter a:before {
  display: none
}

a.noicon:after,
.a.noicon:before {
  display: none
}

blockquote,
pre,
textarea {
  padding: 0.7em;
  color: #181818;
  background: #e9f1f8;
  border: 1px solid #c2d9ec;
  border-radius: 2px;
  box-shadow: none
}

@media print {

  blockquote,
  pre,
  textarea {
    border: 1px solid #808080 !important
  }
}

blockquote pre,
.kitolt pre,
blockquote blockquote,
.kitolt blockquote,
blockquote table,
.kitolt table {
  background: #fff;
  color: #181818;
  border: 1px solid #c2d9ec;
  box-shadow: none
}

blockquote>:first-child {
  margin-top: 0
}

blockquote>:last-child {
  margin-bottom: 0
}

pre,
textarea {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: normal
}

small {
  display: block
}

.screenshot {
  border-color: #050b11;
  background-color: #122637;
  color: #e4e4e4
}

.screenshot em,
.screenshot strong {
  color: #ffff00
}

@media print {
  .screenshot {
    border-color: gray
  }
}

em {
  color: #366994;
  font-style: inherit
}

strong {
  color: #366994
}

@media print {
  em {
    font-style: italic
  }

  strong {
    font-weight: bold
  }
}

del {
  text-decoration: line-through
}

ins {
  text-decoration: none
}

span.piros {
  color: #f00
}

sub,
sup {
  font-size: 0.9em;
  line-height: 0.7
}

.normalsizesubsup sub,
.normalsizesubsup sup {
  font-size: 1em;
  line-height: 0.5
}

.athuzott {
  text-decoration: line-through !important
}

.felulhuzott {
  text-decoration: overline
}

.kicsinyit {
  font-size: 0.9em
}

.sorsurit1 {
  line-height: 1
}

.sorsurit105 {
  line-height: 1.05
}

.sorsurit11 {
  line-height: 1.1
}

.sorsurit115 {
  line-height: 1.15
}

.csakeloadas {
  display: none
}

.bentebb {
  margin-left: 2em;
  margin-right: 2em
}

.megjegyzes {
  margin-left: 2em;
  margin-right: 2em;
  font-size: 0.9em
}

figcaption {
  margin-left: 2em;
  margin-right: 2em
}

iframe {
  display: block;
  border: none
}

button[data-diapopup] {
  display: none
}

.csik {
  border-left: 1px solid rgba(34, 34, 34, 0.2);
  margin-left: 0.7em;
  padding-left: 1em;
  padding-top: 1px;
  padding-bottom: 1px
}

img {
  display: inline;
  border: none;
  margin: 0;
  max-width: 100%;
  -ms-interpolation-mode: bicubic
}

img.kozep,
.mindenkepkozep main img,
video.kozep {
  display: block;
  margin: 1em auto
}

.arnyek,
.mindenkeparnyek main img {
  box-shadow: 0 .1em .25em rgba(0, 0, 0, 0.45)
}

.float {
  float: right;
  clear: right;
  margin: 1em 0 1em 1em;
  position: relative;
  z-index: 1
}

.float.left {
  float: left;
  clear: left;
  margin: 1em 1em 1em 0
}

table {
  border-spacing: 0;
  empty-cells: show;
  border-collapse: collapse;
  border-radius: 2px;
  background: #e9f1f8;
  box-shadow: none
}

table {
  border: 1px solid #c2d9ec
}

thead tr,
tfoot tr {
  border: 1px solid #c2d9ec
}

thead tr,
tfoot tr {
  background: linear-gradient(to top, rgba(0, 0, 0, 0.03), rgba(0, 0, 0, 0.03))
}

tbody tr:nth-child(even) {
  background: linear-gradient(to top, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5))
}

tbody tr:hover,
tfoot.hover tr:hover {
  background: linear-gradient(to top, rgba(54, 105, 148, 0.04), rgba(54, 105, 148, 0.04))
}

tbody tr.tr-focus,
tbody tr:focus-within,
tbody tr.focus {
  background: linear-gradient(to top, rgba(54, 105, 148, 0.075), rgba(54, 105, 148, 0.075))
}

td.piros,
th.piros {
  background: rgba(255, 64, 64, 0.35)
}

td.zold,
th.zold {
  background: rgba(0, 255, 0, 0.35)
}

td.kek,
th.kek {
  background: rgba(96, 96, 255, 0.35)
}

@media print {
  table {
    border: 1px solid #808080 !important
  }

  tr,
  th,
  td {
    border: 1px solid #808080 !important
  }
}

table caption {
  caption-side: bottom;
  padding: 0.25em;
  font-family: 'open sans', 'droid sans', 'dejavu sans', sans-serif
}

th,
td {
  padding: .15em .25em;
  text-align: left;
  vertical-align: middle
}

@media screen and (min-width:640px) {

  th,
  td {
    padding: .25em .5em
  }
}

table.kozepre th,
table.kozepre td {
  text-align: center
}

th {
  font-weight: bold
}

table.keret {
  border-collapse: collapse;
  border: 1px solid #c2d9ec
}

table.keret th,
table.keret td {
  border: 1px solid #c2d9ec
}

table.tomb {
  border-collapse: collapse;
  border: 1px solid #c2d9ec
}

table.tomb tr {
  border: none
}

table.tomb tbody td {
  text-align: center;
  min-width: 2.5ex;
  padding: 0.5ex
}

table.tomb th,
table.tomb td {
  border: 1px solid #c2d9ec
}

div.tomb {
  position: relative;
  font-size: 1.5em;
  margin: .5em auto;
  z-index: 1;
  height: 2em;
  line-height: 2em
}

div.tomb>span,
div.tomb>div {
  text-align: center;
  display: block;
  margin: 0;
  padding: 0;
  width: 2em;
  height: 2em;
  border-radius: 50%;
  background-color: #e9f1f8;
  color: #181818;
  border: 1px solid #c2d9ec;
  border-color: rgba(24, 24, 24, 0.15);
  box-shadow: none;
  font-weight: bold;
  transition: background-color 1s, left .5s, top .25s
}

div.tomb>span {
  display: inline-block;
  margin-right: 0.15em
}

div.tomb>div {
  position: absolute
}

div.tombcaption {
  margin-top: 0.5em;
  text-align: center
}

.tomb .jelolt {
  outline: 6px solid #ffa500
}

.tomb .kesz,
.tomb .zold {
  background-color: #6f6
}

.tomb .pivot,
.tomb .sarga {
  background-color: #ff6
}

.tomb .piros {
  background-color: #f44
}

.tomb .kek {
  background-color: #66f
}

.tomb .lila {
  background-color: #f5f
}

.tomb .narancs {
  background-color: #fa0
}

.bubble {
  font-family: 'mclaren', 'comic sans', cursive;
  font-weight: normal;
  line-height: 1;
  position: relative;
  padding: 0em .5em;
  margin: 0 0 0 .7em;
  background: #e53;
  color: #fff;
  text-shadow: 0px 0px 1px #000;
  border-radius: 0.35em
}

pre .bubble {
  font-size: 0.95em
}

@media print {
  .bubble {
    border: 1px solid #808080
  }
}

.bubble.kicsinyit {
  font-size: 0.81em
}

.bubble .hidden {
  font-size: 0;
  color: transparent;
  text-shadow: none
}

.bubble:before {
  content: '';
  display: block;
  box-shadow: none;
  position: absolute;
  top: 0.45em;
  left: -0.6em;
  width: 0;
  height: 0;
  border-top: .35em solid rgba(238, 85, 51, 0);
  border-bottom: .35em solid rgba(238, 85, 51, 0);
  border-right: .7em solid #e53
}

@media print {
  .bubble:before {
    border-color: transparent #808080
  }
}

.sticky {
  position: relative;
  float: right;
  background: #ff8 !important;
  color: #000;
  border: none;
  border-radius: 2px;
  box-shadow: 0 0 1.5px 0 rgba(0, 0, 0, 0.35);
  font-family: 'mclaren', 'comic sans', cursive;
  text-align: center;
  z-index: 2;
  padding: 0.5em;
  margin: .5em 0 .5em .5em
}

.sticky.right {
  float: right
}

.sticky.left {
  float: left
}

@media screen {
  .sticky {
    transform: rotate(2deg)
  }

  .sticky:before {
    content: '';
    position: absolute;
    display: block;
    top: -0.8em;
    height: 1.5em;
    left: 30%;
    right: 30%;
    background: #f8f8f8 url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAACCAQAAAAziH6sAAAAC0lEQVQIHWMAAR4AABIADZ/sC8IAAAAASUVORK5CYII=");
    box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.35);
    border-left: 1px dotted #888;
    border-right: 1px dotted #888;
    opacity: 0.4;
    transform: rotate(5deg)
  }
}

@media print {
  .sticky {
    border: 1px solid #808080
  }
}

#hirek {
  clear: right;
  width: 15em;
  max-width: 40%;
  padding: 0.7em;
  font-family: 'open sans', 'droid sans', 'dejavu sans', sans-serif;
  font-size: 0.9em;
  text-align: left;
  transform: none;
  margin-left: 1em
}

#hirek h3 {
  margin-top: 0
}

#cntdwn {
  margin-left: 2em;
  margin-right: 2em;
  text-align: center;
  white-space: nowrap;
  border-radius: 0.7em;
  padding: 1em;
  margin-bottom: 1.4em;
  background: #366994;
  background-image: linear-gradient(to bottom, #3776ab, #366994);
  color: #fff;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2) inset, 0px 0px 8px rgba(0, 0, 0, 0.25);
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4)
}

#cntdwn h3 {
  margin-top: 0
}

#cntdwn div {
  display: inline-block;
  margin: 0 .2ex
}

#cntdwn span {
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
  display: inline-block;
  position: relative;
  background-color: #222;
  color: #eee;
  width: 1.6em;
  height: 1.4em;
  line-height: 1.4em;
  margin: 0 1px;
  border-radius: 0.2em;
  box-shadow: 0px -0.725em 0px rgba(255, 255, 255, 0.05) inset, 0px .725em 0px rgba(255, 255, 255, 0.05) inset, 0px 1px 1px rgba(0, 0, 0, 0.3)
}

#cntdwn.zero span {
  background-color: #c00
}

span.sor.aktiv,
.c span.sor.aktiv {
  background: #fbb;
  border-radius: 0.25em
}

span.sor.aktiv:before {
  background: transparent;
  position: absolute;
  color: #ee0;
  text-shadow: 0 1px 0 #000, 0 -1px 0 #000, 1px 0 0 #000, -1px 0 0 #000;
  content: ' \2023  '
}

pre.stack {
  transition: all ease-in .75s
}

pre.stack.hidden {
  visibility: hidden;
  opacity: 0;
  transform: rotate(360deg)
}

pre.stack.visible {
  visibility: visible;
  opacity: 1;
  transform: rotate(0deg)
}

summary {
  font-weight: bold;
  color: #366994;
  cursor: pointer
}

summary:hover {
  text-decoration: underline
}

details>div {
  border-left: 1px solid #c2d9ec;
  margin-left: 0.35em;
  padding-left: 0.7em;
  margin-top: 0.7em;
  margin-bottom: 0.7em
}

details[open]>div {
  animation: fadeIn 1s
}

ul.elony,
ul.hatrany {
  list-style-type: none
}

ul.elony li:before,
ul.hatrany li:before {
  margin-left: -1.2em;
  width: 1.2em;
  font-family: 'FontAwesome';
  text-align: center;
  display: inline-block
}

ul.elony li:before {
  content: '\f055';
  color: green
}

ul.hatrany li:before {
  content: '\f056';
  color: red
}

.dij:before {
  content: '\f091';
  text-shadow: 0 0 1px #222
}

.dij.arany:before {
  color: #FFD700
}

.dij.ezust:before {
  color: #DADADA
}

.dij.bronz:before {
  color: #CD7F32
}

.dij.kulon:before {
  color: #1E90FF;
  content: '\f0a3'
}

i.like:before {
  content: '\f087'
}

i.igen:before {
  content: '\f00c';
  color: #008000
}

i.nem:before {
  content: '\f00d';
  color: #A52A2A
}

i.lehet:before {
  content: '\f059';
  color: #7F7F7F
}

i.tilos:before {
  content: '\f05e';
  color: #A52A2A
}

h3:target,
li:target {
  color: #366994;
  font-weight: bold
}

a.hlink {
  margin-left: 0.25em;
  color: inherit
}

i.hlink {
  opacity: 0.15;
  transition: opacity .25s
}

i.hlink:before {
  content: '\f0c1';
  vertical-align: -0.125em
}

i.hlink:hover {
  opacity: 1
}

button.vissza:before {
  content: '\f053'
}

h1,
h2 {
  color: #366994
}

.slide a {
  border-bottom: 1px solid #ffdf76
}

.slide a:hover {
  text-decoration: none
}

.slide a.hlink,
.slide a.tovabb-megnyitgomb {
  border-bottom: none
}

.slide a.hlink:hover,
.slide a.tovabb-megnyitgomb:hover {
  text-decoration: underline
}

.screenshot em,
.screenshot strong {
  color: #ffde57
}

.footer a {
  font-weight: normal;
  color: #366994
}

.clearfix:after {
  content: "";
  display: table;
  clear: both
}

.quote {
  font-weight: 300;
  font-size: 90%;
  font-style: italic
}

.quotesource {
  font-weight: normal;
  font-style: normal;
  text-align: right
}

.color-red {
  color: #f00
}

.color-blue {
  color: #00f
}

.csak-a-lenyeg .csakdoksi {
  display: none !important
}

.csak-a-lenyeg .csakeloadas {
  display: block
}

.csak-a-lenyeg span.csakeloadas {
  display: inline
}

.csak-a-lenyeg li.csakeloadas {
  display: list-item
}

.csak-a-lenyeg #tartalom {
  display: none
}